@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    margin: 0;
    font-family: "Lato", sans-serif;
    color: #333333;
    background: #F3F4F6;
}

h1 {
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 60px;
    color: #1D4ED8;
}

a {
    text-decoration: none;
    color: #333333;
}

p {
    letter-spacing: 1px;
    font-size: 16px;
    color: #4B5563;
}

.header {
    position: relative;
    text-align: center;
    color: white;
    overflow: hidden;
    height: 65vh;
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
}

.header::before,
.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    animation: animStar 50s linear infinite;
    box-shadow: var(--shadows-small);
}

.header::after {
    animation-duration: 100s;
    box-shadow: var(--shadows-medium);
}

.inner-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    position: relative;
}

.inner-header h1 {
    font-size: 80px;
    color: white;
    font-family: "Black Ops One", sans-serif;
}

.inner-header h2 {
    font-size: 30px;
    color: white;
    margin-top: 10px;
}

.content {
    margin: 20px 0;
    text-align: center;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

:root {
    --shadows-small: 100px 100px #fff, 300px 300px #fff, 500px 500px #fff, 700px 700px #fff;
    --shadows-medium: 50px 50px #fff, 150px 150px #fff, 250px 250px #fff, 450px 450px #fff;
}

@keyframes animStar {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-2000px);
    }
}
